    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, world!</h2>
        <p>Thanks for using Huddle, the ultimate group decision maker.</p>
      </div>
    </div>

    <div class="container">

    	<h2>My Huddles</h2>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" ng-controller="homeCtrl">
        <div ng-repeat="poll in polls" ng-show="poll.visible">
          <div class="row">
            <div class="col-md-1">
              <font size = "5" >{{poll.title}}</font>
            </div>
            <div class="col-md-1">
              <button class="btn btn-default btn-square" ng-show="poll.hasEnded" ng-click="hidePoll(poll)">X
              </button>
            </div>
          </div>
          <table class="table">
            <tr class="active" ng-repeat="option in poll.options">
              <td class="col-md-1" style="background-color: {{option.color}};">{{option.name}}</div>
              <td class="col-md-1" style="background-color: {{option.color}};">{{option.score}}</div>
              <td class="col-md-1" style="background-color: {{option.color}};">
                <button class="btn btn-default btn-circle" ng-disabled="poll.hasEnded" ng-click="vote(option, poll)">
                  +
                </button>
              </div>
            </div>
          </table>
          <div class="row">
            <div class="col-md-8">Sent to: {{poll.recipient}}</div>
          </div>
          <div class="row">
            <div class="col-md-8">
              Time Left: {{poll.timeleft}} minutes
            </div>
          </div>
        </div>
      
      <br>
      <p><a class="btn btn-primary btn-lg" href="/create" role="button">Create Huddle &raquo;</a></p>

      </div>

      <hr>

      <footer>
        <p>&copy; Vote 2014</p>
      </footer>
    </div> <!-- /container -->